* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 1840px;
  display: flex;
  gap: 24px;
  height: 455px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin: 0 40px;
}

.first-container {
  width: 800px;
  height: 455px;
  background-color: #EBF0FA;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.second-container {
  width: 1016px;
  height: 455px;
  background-color: #EBF0FA;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.second-container img {
  width: 910px;
  height: 455px;
}

.wrap {
  padding-left: 72px;
  padding-top: 105px;
}

.title {
  text-shadow: 0px 4px 4px #999393;
  color: #1F4284;
  font-size: 30px;
  font-family: Manrope;
  line-height: 48px;
  height: 48px;
  width: 200px;
  margin: 0;
}

.description {
  max-width: 511px;
  height: 81px;
  font-family: 'Manrope';
  font-size: 17px;
  font-weight: 400;
  line-height: 27.2px;
  text-align: left;
  color: #727272;
  margin-top: 18px;
  margin-bottom: 36px;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 341px;
  height: 68px;
  border-radius: 60px;
  border: 0;
  background-color: #244C98;
}

.button p {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  font-family: "Manrope";
  margin-left: 24px;
}

.circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: relative;
  width: 15px;
  height: 2px;
  background-color: #1F4284;
  border-radius: 2px;
  transform: rotate(-45deg);
}

.arrow::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  top: -3.4px;
  right: -1px;
  width: 10px;
  height: 2px;
  background-color: #1F4284;
  transform: rotate(45deg);
}

.arrow::before {
  content: '';
  position: absolute;
  border-radius: 2px;
  top: 3px;
  right: -1px;
  width: 10px;
  height: 2px;
  background-color: #1F4284;
  transform: rotate(-45deg);
}

/*  */
.modal-wrap {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  cursor: pointer;
  width: 52px;
  height: 52px;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-top: 24px;
  margin-right: 24px;
  position: relative;
}

.close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 35%;
  height: 2px;
  width: 17px;
  background-color: black;
  transform: rotate(45deg);
}

.close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 35%;
  height: 2px;
  width: 17px;
  background-color: black;
  transform: rotate(-45deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-wrap {
  width: 500px;
  height: 575px;
  border: 1px solid black;
  background-color: #F0F4FC;
  text-align: center;
}

.form-title {
  font-family: 'Manrope';
  font-size: 24px;
  font-weight: 500;
  line-height: 32.78px;
  text-align: left;
  text-shadow: 0px 4px 4px #999393;
  padding-left: 24px;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 18px;
}

.input {
  width: 452px;
  height: 73px;
  background-color: #D7E2F6;
  border-radius: 10px;
  border: 0;
}

.input.first {
  margin-bottom: 4px;
}

.input::placeholder {
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 500;
  line-height: 24.59px;
  text-align: left;
  padding-left: 24px;
  color: #1F4284;
}

.checkbox {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.checkbox-wrap {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.checkbox-wrap p {
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  text-align: left;
  margin-left: 14px;
  color: #323232;
}

.restore-button {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  color: #244C98;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  padding-left: 24px;
}

.signIn-button {
  cursor: pointer;
  width: 452px;
  height: 65px;
  background-color: #244C98;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4px;
  margin-top: 36px;
}

.registration-button {
  cursor: pointer;
  width: 452px;
  height: 65px;
  border: 1px solid black;
  background: none;
  border-radius: 4px;
  color: #244C98;
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
/*  */

@media screen and (max-width: 1440px) {
  main {
    width: 1360px;
    gap: 0;
    box-shadow: none;
  }

  .first-container {
    width: 680px;
    height: 455px;
    background-color: #EBF0FA;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .title {
    font-size: 26px;
    line-height: 41.6px;
    height: 42px;
    width: 173px;
    text-shadow: none;
    font-weight: 500;
  }

  .second-container {
    width: 680px;
    height: 455px;
  }
  
  .second-container img {
    width: 680px;
    height: 455px;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    height: 586px;
    border-radius: 10px;
    margin: 0;
  }

  .wrap {
    padding-top: 24px;
    padding-left: 24px;
  }

  .first-container {
    width: 720px;
    height: 226px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }

  .title {
    font-size: 20px;
    line-height: 32px;
    height: 32px;
    width: 173px;
  }

  .description {
    max-width: 672px;
    height: 48px;
    font-size: 15px;
    line-height: 24px;
    margin-top: 18px;
    margin-bottom: 24px;
  }

  .button {
    width: 261px;
    height: 56px;
    background-color: #244C98;
  }

  .button p {
    font-size: 15px;
    margin-left: 18px;
  }

  .second-container {
    width: 720px;
    height: 360px;
    background-color: #EBF0FA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .second-container img {
    width: 720px;
    height: 360px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media screen and (max-width: 375px) {
  main {
    height: 482px;
  }

  .first-container {
    width: 327px;
    height: 262px;
  }

  .title {
    font-size: 17px;
    line-height: 27.2px;
    height: 27px;
    width: 279px;
  }

  .description {
    max-width: 279px;
    height: 105px;
    font-size: 13px;
    line-height: 20.8px;
    margin-top: 14px;
    margin-bottom: 18px;
  }

  .button {
    width: 279px;
    height: 56px;
  }

  .second-container {
    width: 327px;
    height: 220px;
  }
  
  .second-container img {
    width: 327px;
    height: 220px;
  }

  .form-wrap {
    width: 335px;
    height: 575px;
  }

  .form-title, .restore-button {
    padding-left: 28px;
  }

  .input, .signIn-button, .registration-button {
    width: 275px;
  }
}